:root{
  --darkorange: #E26C09;
  --lightorange: #FF9135;
  --black: #000000;
  --white: #FFFFFF;
  --lightgrey: #F7F7F7;
  --darkgrey: #EAEAEA;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cresta, sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--lightgrey);
}
/*header*/
header {
  background-color: var(--white);
}
nav {
  width: 100%;
  box-shadow: var(--black);
}
.logo {
  position: absolute;
}
/*footer*/
footer {
  background-color: var(--darkorange);
  display:flex;
  flex-direction: column 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 4%;
}
.ft{
  padding-top: 5%;
}
.footer-items{
  padding-top: 5%;
}
.icons{
  padding-top: 20%;
  justify-content: space-between;
}
#insta{
  margin-right: 25px;
}
footer {
  background-color: var(--darkorange);
}
.ft{
  color: var(--white);
}
.footer-items{
  list-style: none;
}
.footer-items a{
  text-decoration: none;
  color:var(--white)
}

/*Main Page*/
/*news*/
.news{
  display: flex;
  flex-direction: column;
  
}
.news h2{
  padding-bottom: 3vh;
}
.nws{
  display: flex;
  flex-direction: row;
  background-color: #EAEAEA;
  margin-bottom: 2vh;
  padding: 2vh;
  align-items: center;
  border-radius: 2vh;
}
.nws div{
  margin-left: 5vh;
  
}
/*boxes with highlight of a page*/
.atrac{
  display: flex;
  box-sizing: border-box;
}
.atrac div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAEA;
  margin-bottom: 2vh;
  border-radius: 2vh;
}
/*sponsors*/
.sponsors{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.sponsors .sponlogo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

/*OM RVK*/
h1 {
  text-align: center;
  font-family: cresta, sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: var(--white);
  padding: 2%;
}
h2 {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
}
.line {
  background-color: var(--darkorange);
}
.text {
  margin: 20px;
  font-size: 14px;
  font-family: cresta, sans-serif;
  font-weight: normal;
  border: var(--white);
  border-radius: 20%;
}
#teampic{
  width: 100%;
  z-index: -1;
}

/*Team Overview*/
.tms{
  display: flex;
}
.tms div{
  background-color: #EAEAEA;
  border-radius: 2vh;
}
  @media screen and (max-width: 899px){
    /*https://alvarotrigo.com/blog/hamburger-menu-css/ */

    .container {
      max-width: 899px;
      width: 100%;
      margin: auto;
    }
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }
   
    nav .nav-container li {
      list-style: none;
    }
      
    nav .nav-container a {
      text-decoration: none;
      color: var(--darkorange);
      font-weight: 500;
      font-size: 1.2rem;
      padding: 0.7rem;
    }    
    nav .nav-container a:hover{
      font-weight: bolder;
    }
      
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
    } 
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      right: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      right: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
      
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: var(--black);
    }
    .nav-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
      
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
      
    .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
    .logo img {
      height: 6rem;
    }
    .logo {
      top: 5px;
      left: 15px;
    }
    nav .menu-items {
      padding-top: 120px;
      padding-left: 20%;
      background-color:var(--white);
      height: 100vh;
      width: 100%;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      transition: transform 0.5s ease-in-out;
    }
    
    nav .menu-items li {
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: left;
    }

    /* doesn't work*/
    nav .menu-items li .icons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
      
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
      
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
      
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
      
    .nav-container input[type="checkbox"]:checked ~ .logo{
      z-index: 7;
    }
    .ft{
      color: var(--white);
    }
    .footer-items{
      list-style: none;
    }
    .footer-items a{
      text-decoration: none;
      color:var(--white)
    }

    /*Main Page*/
    /*video*/
    .intro{
      box-sizing: border-box;
      height: 95vh;
    }
    .introvid{
      z-index: -1000;
      position: sticky;
      display: block;
      height: 95vh;
      margin-left: 50vw; 
      transform: translate(-50%); 
    }
    .intro h1{
      color: #FFFFFF;
      font-size: 36px;
      text-align: center;
      position: absolute;
      top: 50vh;
      padding: 0 7vh 0vh 7vh;
    }
    /*news*/
    .news{
      margin: 10vh 7vh;
    }
    .news img{
      width: 5vh;
      height: 5vh;
    }
    /*boxes with page highlight*/
    .atrac{
      flex-direction: column;
      padding: 0 7vh 7vh 7vh;
    }
    .atrac img{
      height: 170px;
      
    }
    .atrac .box{
     padding: 4vh;
    }
    .atrac h3{
      color: #E26C09;
      font-size: 16px;
      padding: 2vh 2vh 0;
    }
    .atrac p{
      font-size: 14px;
      padding: 0 2vh 2vh;
    }
    /*sponsors*/
    .sponsors h2{
      align-self: center;
      padding-bottom: 4vh;
    }
    .sponsors .sponlogo{
     padding: 0 7vh;
    }
    
    .sponsors .sponlogo img{
      width: 30vw;
     
    }


    

  


    /*Team Overview*/
      .tms{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 7vw;
      }
      .tms div{
        width: 40%;
        margin: 1vh;
        
      }
      .tms img{
        height: 100px;
        padding: 2vh;
        
      }
      .txtms{
        padding-top: 10vh;
      }
      .txtms p{
        padding: 1vh 10vw 5vh;
      }
      h1{
        background-color: #E26C09;

      }
    /*Kontingentrates*/

    /*Activities*/

    /*Sponsors*/


    /*About us*/
    h1{
      text-align: center;
    }

    /*Contact*/

    /*Footer*/
  

  }
  @media screen and (min-width: 900px){


    /*Main Page*/
    main{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    /*video*/
    .intro{
      box-sizing: border-box;
      height: 95vh;
      order: 1;
    }
    .introvid{
      z-index: -10;
      position: sticky;
      display: block;
      width: 100vw;
    }
    .intro h1{
      color: #FFFFFF;
      font-size: 56px;
      text-align: center;
      position: absolute;
      top: 60vh;
      padding: 0 7vh 0vh 7vh;
    }
    /*news*/
    .news{
      float: left;
      padding-left: 3vw;
      margin: 10vh 2vh;
      order: 3;
    }
    .news img{
      width: 5vh;
      height: 5vh;
    }
    /*boxes with page highlight*/
  
    .atrac{
      flex-direction: row;
      padding: 12vh 7vh 5vh 7vh;
      width: 100%;
      order: 2;
    }
    .atrac img{
      width: 300px;
      
    }
    .atrac .box{
     padding: 2vw;
     margin: 2vw;
    }
    .atrac h3{
      color: #E26C09;
      font-size: 16px;
      padding: 2vh 2vh 0;
    }
    .atrac p{
      font-size: 14px;
      padding: 0 2vh 2vh;
    }
    /*sponsors*/
    .sponsors{
      float: right;
      padding-right: 3vw;
      align-items: center;
      margin: 5vh 2vh;
      order: 3;

    }
    .sponsors h2{
      align-self: center;
      padding-bottom: 4vh;
    }
    .sponsors .sponlogo{
     padding: 0 2vh;
     gap: 2vw;
    }
    
    .sponsors .sponlogo img{
      width: 15vw;
     
    }
  }


    

  


    /*Team Overview*/
  
    /*Kontingentrates*/

    /*Activities*/

    /*Sponsors*/


    /*About us*/

    /*Contact*/

    /*Footer*/
  